* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    border-top: 10px solid #1098ad;
    font-family: sans-serif;
    color: #444;
    position: relative;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
}

article {
    margin-bottom: 60px;
}

h1 {
    color: #1098ad;
    font-family: sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 26px;
}

h2 {
    color: #1098ad;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
}

h3 {
    color: #1098ad;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h5 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

nav {
    font-size: 18px;
}

.author {
    font-style: italic;
}

.second-header {
    margin-bottom: 40px;
}

p {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 1.5;
}

ul, ol {
    margin-left: 50px;
}

.related {
    list-style: none;
    margin-left: 0;
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li{
    font-size: 20px;
    margin-bottom: 10px;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}
a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}
a:active {
    background-color: black;
    font-style: italic;
}
a:visited {
    color: #1098ad;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 40px;
}


.post-img {
    width: 100%;
    height: auto;
}

nav a:link {
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
}

nav a:link:last-child {
    margin-right: 0;
}

button {
    font-size: 22px;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

/* p::first-line {
    color: red;
} */

h2::after {
    content: 'TOP';
    background-color: rgb(253, 253, 41);
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    right: 0;
}



/* float */

.author {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.author-img {
    float: left;
    margin-bottom: 20px;
}

h1 {
    float: left;
}

nav {
    float: right;
}

article {
    width: 825px;
    float: left;
}

aside {
    width: 300px;
    float: right;
}

footer {
    clear: both;
}

.clear {
    clear: both;
}