* {
    padding: 0;
    margin: 0;
}


body {
    border: 5px solid black;
    font-family: sans-serif;
    width: 825px;
    margin: 100px 25%;
}


h2 {
    background-color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    width: 825px;
    height: 40px;
    padding-top: 15px;
    margin-bottom: 20px;
}

h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.shipping {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 20px;
}


a:link {
    color: black;
}

p {
    font-size: 13px;
    line-height: 1;
}

ul {
    line-height: 1.5;
    margin-bottom: 15px;
}

.detailed-list li {
    padding-left: 5px;
}


button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    width: 825px;
    height: 40px;
    padding-top: 5px;
}

button:hover {
    color: black;
    background-color: white;
}